body {
    background: #1dcdb8;
    padding: 55px;
    font-family: 'Courier New', Courier, monospace;
}
h1,
h2,
h3 {
    color: #1d1184;
    font-family: sans-serif;
}

img {
    width: 200px; border-style: dashed; border-radius:40dvb; border-width: 5px;
}