p {color:blue; font-size:large}
h1 {color:brown; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
h1 {font-family: 'Courier New', Courier, monospace;}
ol {color: darkolivegreen;}
em {color:rgb(18, 162, 95)}
head {color: blueviolet;}